body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: rgb(255, 255, 255);
  line-height: 1.8;
  background-color: black;
}

.w3-top{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/* Parallax */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-404 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Imagen Principal */
.bgimg-1 {
  background-image: url("https://i.ibb.co/NsCwNm3/IMG-20200114-142755.jpg");
  min-height: 100%;
}

/* Imagen Porfolio */
.bgimg-2 {
  background-image: url("https://i.ibb.co/dWPmW7Z/DSC-9553-1.jpg");
  min-height: 400px;
}

/* Imagen Contacto */
.bgimg-3 {
  background-image: url("https://i.ibb.co/645qmcq/me2.jpg");
  min-height: 400px;
}

.bgimg-404 {
  background-image: url("https://i.ibb.co/NsCwNm3/IMG-20200114-142755.jpg");
  min-height: 65%;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
